.login-container .login-form .arco-row {
    justify-content: space-around !important;
}

.login-container .login-form .img-container img {
    margin-left: 30%;
    width: 40%;
    margin-bottom: 20px;
}

.login-container .arco-space-item{
    height: 55px!important;
}
.login-container .arco-form-message{
    margin-top: 5px!important;
}